// config nib
flex-version = flex
support-for-ie = true
vendor-prefixes = official

// Colors
blanco = #ffffff
casi-negro = #131313
fondo = #EEEEEE
fondo-gris = #F5F5F5
gris = #2E2E2E
negro = #000000
texto-gris = #707070
texto-gris2 = #B5B5B5

// Functions
Obold(s = 1rem)
  font-family 'Open Sans', 'Avenir', Helvetica
  font-size s
  font-weight 700

Mbold(s = 1rem)
  font-family 'Montserrat', 'Avenir', Helvetica
  font-size s
  font-weight 700

Msemibold(s = 1rem)
  font-family 'Montserrat', 'Avenir', Helvetica
  font-size s
  font-weight 600

Mregular(s = 1rem)
  font-family 'Montserrat', 'Avenir', Helvetica
  font-size s
  font-weight 400
